@import url("https://fonts.googleapis.com/css2?family=Chivo:ital@1&family=Quicksand&display=swap");

:root {
  --black: #293241;
  --salmon: #f08b72;
  --ice-blue: #ffffff;
  --light-blue: #037B3C;
  --light-blue-hover: #069D4F;
  --dark-blue: #f29602;
}

* {
  box-sizing: border-box;
}

body,
input {
  font-family: "Quicksand", sans-serif;
}

.hidden {
  display: none;
}

/* You choose logo */
.logo {
  max-width: 60%;
  display: block;
  margin: 0 auto 30px auto;
}

.you-choose-h1 a {
  color: var(--dark-blue);
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--ice-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.btn-image {
  max-width: 200px;
  background-color: transparent;
  border: transparent;
}

.btn-image img {
  width: 100%;
}

.result {
  display: flex;
}

.btn {
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Admin dropdown */
.admin-dropdown img {
  cursor: pointer;
  max-width: 80px;
  float: right;
  width: 20%;
  margin-right: 2%;
}

.admin-dropdown {
  position: relative;
  /* float: right; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 80px;
  right: 0;
  border-radius: 4px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content a {
  display: block;
  padding: 20px;
  cursor: pointer;
}

.admin-dropdown:hover .dropdown-content {
  display: block;
}

/* Reuseable button */
.button-reuse {
  color: white;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 1.8rem;
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

section.top ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* All links */
a {
  text-decoration: none;
  color: black;
}

/* a:visited {
  color: black;
} */

.register-link {
  color: blue;
  text-decoration: underline;
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}

/* Back-button */
.back-button img{
  max-width: 30px;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  float: left;
}

/* General Buttons */
.common-button {
  width: 60%;
  border-radius: 40px;
  padding: 25px 0 25px 0;
  display:block;
  text-align: center;
  margin: 15px auto 15px auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 19px;
  outline: none;
  position: relative;
  background: var(--light-blue);
    color: #fff;
    box-shadow: 0 6px var(--light-blue-hover);
  background-color: var(--light-blue);
}

.common-button:hover {
  
  box-shadow: 0 4px var(--light-blue);
	top: 2px;
}

.start-session-button {
  margin-top: 40px;
}

/* Index */
/* .login-button {
  margin: 20% auto auto auto;
}

.join-button {
  margin: 10% auto auto auto;
} */

.index-body h2 {
  text-align: center;
  max-width: 80%;
  margin: 20% auto 0px auto;
}

/* Register and login*/
input {
  width: 100%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px auto 30px auto;
}

h2 {
  text-align: center;
}

#message h4 {
  /* margin: 0; */
  margin-bottom: 2rem;
}

.button-inside {
  position: relative;
  margin-bottom: 10px;
}

.show-pass {
  position: absolute;
  right: 18px;
  top: -5px;
  border: none;
  width: 20px;
  padding: 2px;
}

/* .register-body, .login-body {
 margin: 1rem 0px 0px 1rem;
} */

.register-body button,
.login-body button {
  /* Button won't go to center */
  margin: 1rem auto 0px auto;
}

/* Join */
.join-body input#enter-key {
  font-size: 30px;
  text-align: center;
}

.join-body label {
  margin-left: auto;
  margin-right: auto;
}

/* Admin Session */
#admin-code {
  font-size: 65px;
  max-width: 100%;
  text-align: center;
  margin: 5% 0px 10% 0px;
}

#people-joined {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.admin-code-body .button-reuse {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}

/* Results */

ol#results {
  list-style: none;
  font-size: 20px;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0;
  width: 80%;
  margin: 30px 15% 50px;
}

ol#results li {
  counter-increment: my-awesome-counter;
  padding: 0 0 0 0.5em;
  /*   line-height: 2.5rem; */
}

ol#results li::marker {
  content: counter(my-awesome-counter) ".";
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 1.5rem;
}

/* Alert Message */
.alert {
  background-color: var(--light-blue-hover);
  border: 2px solid var(--light-blue);
  display: flex;
  justify-content: space-between;
  margin: 0.25em 0.5em 1em;
  padding: 0 0.5em;
  color: #303030;
}

.add-alert {
  max-width: 500px;
  margin: 10px auto 0;
}

.alert p {
  margin: 10px;
}

.alert button {
  margin: 0 10px;
  padding: 0;
  background-color: transparent;
  color: #303030;
  border: none;
}

/* Past Results */

#past-results-main {
  height: auto;
}

#pastResults {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.35rem;
  margin-bottom: 20px;
}

.result {
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid black;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.result button {
  background-color: var(--salmon);
  justify-self: right;
  border-radius: 5px;
  grid-column: 2;
  height: 80%;
}

.result h3 {
  grid-row: 1;
}

.result ol {
  padding: 0;
  list-style-position: inside;
  grid-column: 1/3;
}


/* Medium view */
@media only screen and (min-width: 32.5rem) {
  body {
    max-width: 80%;
    margin: auto;
    /* Why isn't this working */
    background-color: var(--dark-blue);
  }

  .common-button {
    width: 50%;
  }

  html {
    height: 100vh;
  }

  .common-button {
    margin: 5% auto;
  }

  /* Admin Session */
  #admin-code {
    font-size: 85px;
  }

  /* Results */
  ol#results {
    width: 50%;
    margin-left: 33%;
  }

  ol#results li::marker {
    font-size: 1.8rem;
  }
}

/* Large view */
@media only screen and (min-width: 64rem) {
  body {
    max-width: 50%;
  }


  .common-button {
    width: 50%;
  }
  .button-reuse {
    /* max-width: 40%; */
    margin-left: auto;
    margin-right: auto;
  }

  /* Admin Session */
  #admin-code {
    font-size: 100px;
  }

  /* Results */
  ol#results {
    width: 60%;
    margin-left: 28%;
  }
}
