.timer-wrapper {
    box-sizing: content-box;
    background-color: rgb(44, 44, 44);
    width: 300px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
}

.timer {
    background-color: green;
    height: 50px;
    width: 0%;
}

.moving-timer {
    width: 100%;
    transition: width linear 9s;
}

  
  .load-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    display: flex;
    align-items: center;
  }
  
  .loader-shap {
    width: 2rem;
    height: 2rem;
    background-color: #09804e;
    margin: 1rem;
    border-radius: 50%;
    animation: load_shap 1.2s ease infinite;
  }
  
  .loader-shap:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .loader-shap:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .loader-shap:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes load_shap {
    50% {
      transform: translateY(-50%);
      border-bottom: 16px solid #088530;
      box-shadow: 0 8rem 2rem rgba(0, 107, 102, 0.137);
    }
  }
  
  .waiting-text {
      font-size: 2em;
      text-align: center;
      color: #09804e;
  }


